.container {
    padding: 20px;
}

.cartList {
    list-style: none;
    padding: 0;
}

.cartItem {
    display: flex;
    gap: 15px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 10px;
}

.image {
    width: 100px;
    border-radius: 8px;
}

.info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

button {
    padding: 6px 12px;
    border: none;
    background-color: #d23519;
    color: white;
    border-radius: 6px;
    cursor: pointer;
}

button:hover {
    background-color: #aa2e0c;
}

.checkoutButton {
    margin-top: 20px;
    padding: 10px 20px;
    border-radius: 8px;
    border: none;
    background-color: #d23519;
    color: white;
    font-weight: 600;
    cursor: pointer;
    transition: background 0.2s;
}

.checkoutButton:hover {
    background-color: #aa2e0c;
}