.userSlider {
    position: absolute;
    top: 60px;
    right: 20px;
    background-color: #fff;
    color: #000;
    padding: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    width: auto;
}

.userSlider h4 {
    margin-bottom: 10px;
}

.userSlider ul {
    list-style: none;
    padding: 0;
    margin-bottom: 10px;
}

.userSlider button {
    padding: 5px 10px;
    background-color: red;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}